/**
  * @name StanStyle
  * @author Stan
  * @version 1.9.0
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #121212;            
  --darkplus-bg2: #1e1e1e;           
  --darkplus-sec: #d4af37;           
  --darkplus-links: #f1e5ac;         
  --darkplus-home-icon: url(https://i.imgur.com/RvlNQ7k.png); 
  
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 100%;    
  --watermark-filter-saturate: 500%; 
  --watermark-filter-hue-rotate: 10deg; 
  --watermark-filter-brightness: 90%;
  --watermark-filter-contrast: 120%;
}

/* 1. KEEP THE OLD WATERMARK DEAD */
.title_c38106::after, 
[class*="wordmark_"]::after {
    content: "" !important;
    display: none !important;
}

/* 2. FORCE "STANSTYLE" TO APPEAR */
[class*="wordmark_"]::before {
    content: "STANSTYLE" !important;
    display: block !important;
    visibility: visible !important;
    
    /* Position */
    position: absolute !important;
    top: 7px !important;
    left: 10px !important;
    z-index: 999 !important;
    
    /* Style */
    color: var(--darkplus-sec) !important;
    font-size: 13px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
}

/* 3. HIDE DISCORD LOGO */
[class*="wordmark_"] svg {
    display: none !important;
}
